:root {
    --principal: #613C97;
    --fundo-icone: rgba(59, 180, 234, 0.2);
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header {
    background-color: var(--principal);
}

header img {
    height: 50px;
}

header .cabecario svg {
    height: 40px;
    color: white;
}

.cabecario {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

main img {
    height: 710px;
}

main .bg {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(../img/Bem-vindo\ à\ Birigui!.png);
    background-position: center;
    background-size: cover;
}

main .baixo h1 {
    text-align: center;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}

/* ----------- MAIN PARTE DE BAIXO ---------- */

.meio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
    margin: 30px;
    align-items: center;
    text-align: center;
}

main .meio svg {
    width: 40px;

}

main .meio .icone {
    width: 70px;
    height: 70px;
    border: 5px solid #613c97;
    background-color: var(--fundo-icone);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: auto;
}

main .meio p {
    font-family: 'Quicksand', sans-serif;
}

main .meio h3 {
    font-family: 'Quicksand', sans-serif;
}

/* ------------ FOOLTER PAGINA INICIAL --------------- */

.footer {
    background-color: var(--principal);
    width: 100%;
    height: 33px;
}

.footer p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    ;
    text-align: left;
    padding: 5px;
    font-size: 15px;
}

/* ------------ TESTE  ------------- */