:root {
    --principal: #613C97;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header {
    background-color: var(--principal);
}

header img {
    height: 50px;
}

header svg {
    height: 40px;
    color: white;
}

.cabecario {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

main img {
    height: 710px;
}

main .bg {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(../img/Bem-vindo\ à\ Birigui!.png);
    background-position: center;
    background-size: cover;
}

main .baixo h1{
    text-align: center;
    padding: 15px;
}